/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*MAIN COLOR #087f5b #099268 #495057 #343a40*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  border-bottom: 8px solid #0a4634;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 96px;
}

h2 {
  margin-bottom: 48px;
  font-size: 2rem;
  letter-spacing: -0.5px;
  /* / 24 / 32 / 38 / */
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

.btn:link,
.btn:visited {
  background-color: #087f5b;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
}

.btn:hover,
.btn:active {
  background-color: #099268;
}

.btn:hover {
  box-shadow: 0px 0px 15px #3a4b45;
}

.btn:active {
  box-shadow: 0px 0px 10px #989a9c;
}

.btn--big {
  font-size: 1.2rem;
  padding: 16px 32px;
  border-radius: 9px;
}

.btn--small {
  font-size: 0.8rem;
  padding: 8px 12px;
  border-radius: 7px;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 64px;
}

.header-text-box {
  align-self: center;
}

h1 {
  margin-bottom: 32px;
  font-size: 2.7rem;
  line-height: 1.1;
}

.header-text {
  margin-bottom: 24px;
  font-size: 1.1rem;
  line-height: 1.7;
}

img {
  width: 100%;
}

/* FEATURES */
.feature-icon {
  stroke: #087f5b;
  width: 32px;
  height: 32px;
  margin-bottom: 24px;
}

.features-title {
  margin-bottom: 16px;
  font-size: 1.4rem;
}

.features-text {
  font-size: 1.1rem;
  line-height: 1.7;
}

/* TESTIMONIAL */
.testimonial-section {
  background-color: #087f5b;
  color: #fff;
  padding: 24px;
  border-radius: 10px;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h2 {
  margin-bottom: 24px;
  font-size: 1.5rem;
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 24px;
  font-size: 1.1rem;
  line-height: 1.7;
  color: #e6fcf5;
}

.testimonial-author {
  color: #c3fae8;
}
/* CHAIRS */
.chair-box {
  padding: 32px;
}

.chair {
  box-shadow: 0px 12px 20px #d7dbde;
  border-radius: 10px;
}

.chair img {
  border-radius: 10px 10px 0px 0px;
}

h3 {
  margin-bottom: 24px;
  font-size: 1.4rem;
}

.chair-details {
  list-style: none;
  margin-bottom: 38px;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chair-icon {
  stroke: #087f5b;
  width: 24px;
  height: 24px;
}

.chair-price {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  align-items: center;
}

footer {
  margin-bottom: 42px;
  font-size: 0.8rem;
  color: #495057;
}
